{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Ivy</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soy maestra de educación primaria, especializada en el área de tecnología e informática. Mi labor principal consiste en enseñar a los alumnos el uso adecuado y responsable de las herramientas digitales, promover el desarrollo de habilidades tecnológicas básicas y fomentar el pensamiento crítico y creativo mediante el uso de recursos digitales.

Además, diseño actividades dinámicas y accesibles que permiten a los niños aprender mientras se divierten, adaptándome a su nivel y estilo de aprendizaje. También participo activamente en el seguimiento del progreso de cada estudiante, promoviendo un ambiente seguro, empático y motivador donde se valora el respeto, el trabajo colaborativo y la mejora continua.

Mi trabajo no solo se trata de enseñar, sino de inspirar, acompañar y formar a las nuevas generaciones para que enfrenten con seguridad y responsabilidad los retos del mundo digital. </p>
        
            
        <br>
        <p><b>Teléfono:</b> 7228418443 </p>
        <p><b>Honorarios:</b> 8:00 am a 13:00 pm </p>
    </div>
</div>
{% endblock %}

